@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-5">Welcome</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="d-flex flex-wrap" style="margin-bottom: 8rem;">
            <div class="col-sm-4">
                <div class="card" style="padding: 5px;">
                    <img src="/images/catalog_card.jpg" alt="catalog img" class="card-img">
                    <div class="card-img-overlay card__overlay-text">
                        <h3 class="card-title">
                            <a asp-controller="Catalog" asp-action="Index" style="color: #fff;">Catalog</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="padding: 5px;">
                    <img src="/images/patrons_card.jpg" alt="patron img" class="card-img">
                    <div class="card-img-overlay card__overlay-text">
                        <h3 class="card-title">
                            <a asp-controller="Patron" asp-action="Index" style="color: #fff;">Patrons</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="padding: 5px;">
                    <img src="/images/branches_card.jpg" alt="branch img" class="card-img">
                    <div class="card-img-overlay card__overlay-text">
                        <h3 class="card-title text-center">
                            <a asp-controller="Branches" asp-action="Index" style="color: #fff;">Branches</a>
                        </h3>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>

<style>
    .card__overlay-text{
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>